*{
   box-sizing: border-box;
   margin-top: 10px;
   
}
body{
    background-color: aliceblue;
}
#header{
    letter-spacing: 2px;
    font-size: 35px;
}
h1{
    text-align: center;
    
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}
.table{
    font-size: 17px;
    border-collapse: collapse;
    background-color: #ADEFD1FF;
    overflow-y: hidden;
    color: #000123;
    width: 750px;
    height: 500px;
}
table, td, th {
    border: 2px solid black;
    padding: 7px;
  }

a{
    color: #000123;
    text-decoration: none;
    
}
a:hover{
    color: aliceblue;
    font-weight: bold;
}

 /*========== code for display user data */

.right_container {
    overflow-y: auto;
    height: 500px;
    width: 500px;
    background-color:#0063B2FF;
    color: #ADEFD1FF;
    border-radius: 10px;
}
#display_details{
    padding-left: 15%;
}
.right_container::-webkit-scrollbar {
    display: none;
}
/* Responsive code for mobile */
@media screen and (max-width:640px){
    
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .table{
        font-size:15px;
        width: 600px;
    }
    table, td, th {
        border: 2px solid black;
        padding: 7px;
      }
    .right_container{
        height: 400px;
        width: 600px;
      }
      img{
          width: 50px;
          height: 50px;
          border-radius: 50px;
      }
      #display_details{
        padding-left: 20%;
    }
    
}
/* --------- */
img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: #ADEFD1FF;
    padding: 10px;
}

.body_row:hover{
    background-color: #0063B2FF;
    color: aliceblue;
    cursor: pointer;
}
h4{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 380px;
    padding: 7px;
    background-color:#ADEFD1FF;
    color: #0063B2FF;
}
/* ===========code for action column========== */
.delete_row:hover{
    background-color: crimson;
    color: aliceblue;
}
.trash:hover{
    color: black;
}
.trash{
    color: red;
    font-size: 17px;
    padding-right: 5px;
}

